
{% extends "layout.html" %}
{% load static %}


{% block title %}
   contact
{% endblock title %}


{% block content %}
    <h1>Projects page</h1>
    <p>Here are my outstanding projects</p>
    <div class="row">
        <div class="col-3">
            <div class="mycard">
            
                <img src="{% static 'images/portfolio/portfolio-2.jpg' %}" alt="">
                
            </div>
        </div>
        <div class="col-3">
            <div class="mycard">
            
                <img src="{% static 'images/portfolio/portfolio-1.jpg' %}" alt="">
                
            </div>
        </div>
      
       
        <div class="col-3">
            <div class="mycard">
            
                <img src="{% static 'images/portfolio/portfolio-3.jpg' %}" alt="">
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="mycard">
            
                <img src="{% static 'images/portfolio/portfolio-4.jpg' %}" alt="">
                
            </div>
        </div>
        <div class="col-3">
            <div class="mycard">
            
                <img src="{% static 'images/portfolio/portfolio-5.jpg' %}" alt="">
                
            </div>
        </div>
      
       
        <div class="col-3">
            <div class="mycard">
            
                <img src="{% static 'images/portfolio/portfolio-6.jpg' %}" alt="">
                
            </div>
        </div>
    </div>
{% endblock content %} 

