{% extends "layout.html" %}


{% block title %}
   contact
{% endblock title %}


{% block content %}
    
    <div class="container">
        <div class="row">
            <h1>Services</h1>
          
        </div>
        <div class="row">
            
            <p style="text-align:center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum labore distinctio deleniti dignissimos eos numquam, enim doloribus soluta. Quidem id deleniti molestias soluta maxime neque earum accusantium numquam similique.</p>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mycard">
                
                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                    <h1>Front End.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus molestiae. Autem ducimus, asperiores quia cupiditate minus cum vel. Dolor repellat debitis quod enim aliquam dolorum vero. Aperiam, facere amet?</p>
                </div>
            </div>
            <div class="col-3">
                <div class="mycard">
                
                    <i class='fab fa-slideshare'></i>
                    <h1>Front End.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus molestiae. Autem ducimus, asperiores quia cupiditate minus cum vel. Dolor repellat debitis quod enim aliquam dolorum vero. Aperiam, facere amet?</p>
                </div>
            </div>
          
           
            <div class="col-3">
                <div class="mycard">
                
                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                    <h1>Front End.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus molestiae. Autem ducimus, asperiores quia cupiditate minus cum vel. Dolor repellat debitis quod enim aliquam dolorum vero. Aperiam, facere amet?</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="mycard">
                
                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                    <h1>Front End.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus molestiae. Autem ducimus, asperiores quia cupiditate minus cum vel. Dolor repellat debitis quod enim aliquam dolorum vero. Aperiam, facere amet?</p>
                </div>
            </div>
            <div class="col-3">
                <div class="mycard">
                
                    <i class='fab fa-slideshare'></i>
                    <h1>Front End.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus molestiae. Autem ducimus, asperiores quia cupiditate minus cum vel. Dolor repellat debitis quod enim aliquam dolorum vero. Aperiam, facere amet?</p>
                </div>
            </div>
          
           
            <div class="col-3">
                <div class="mycard">
                
                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                    <h1>Front End.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, accusamus molestiae. Autem ducimus, asperiores quia cupiditate minus cum vel. Dolor repellat debitis quod enim aliquam dolorum vero. Aperiam, facere amet?</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %} 

